<tr>
    <td>#</td>
    <td>
        <a href="/projects/{{project["pname"]}}/tree">{{project["pname"]}}</a>
        <br>
    </td>
    <td class="project_progress">
        <div class="progress progress_sm">
            <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="47" aria-valuenow="46" style="width: 47%;"></div>
        </div>
        <small>47% Complete</small>
    </td>
    <td>
        <a href="#" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#myModal2"><i class="fa fa-folder"></i> Git Sync </a>
        <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> Clean </a>
    </td>
</tr>